
#busq-filtros{
	
	border-style: solid;
	border-color: black;
	border-width: 1px;
	
}

.filtro{
	padding-left: 5px;
}

.filtro-titulo{
	margin-top: 10px;
	margin-bottom: 2px;
}

.filtro-item{
	margin-left: 0px;
}

.busq{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 30px !important;
	padding-bottom: 15px;
	padding-left: 10px;
}

.btn-talles{
	
	width: 45px;
	height: 30px;
}

.cant_resultados{
	margin-top: 0px;
	padding-left: 300px;
}

.page_resultados{
	display: inline-block;
	text-align: right;
}

.pages{
	text-align: right;
	margin-bottom: 10px;
}

.label_produ{
	color: black;
	/*text-align: center;*/
	font-size: 10px;
	paddin-top: 10px;
	display: inline;

}

.label_precio{
	color:#FF9900;
	font-size: 14px;

}

.price{
	text-align: right;
}

.but{
	margin-top: 20px;
	width: 100px;
	border-style: solid;
	border-width: 1px;
	border-color: black;

}

#filter_title{
	margin-left: 16%;
	font-size: 15px;
	margin-bottom: 10px;
}


.soflow{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 0;
   overflow: hidden;
   padding: 0;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 132px;
}

.soflow2{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 0;
   overflow: hidden;
   padding: 0;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 180px;
}

.no_more{
	font-size: 15px;
	text-align: center !important;
}

#ordenar{
	margin-right:0;
}

#ordenar_but{
	display: inline;
	margin-right: 20px;
	height: 25px !important;
	padding: 1px 6px;
	border: 1px solid black;
}