﻿.table{
	border-color: black;
	text-align: center;
}

.producto-img{
	height: 200px;
	width: 200px;
	border-radius: 4px;
}

.carrito-titulo{
	text-align: center;

}

.deseos-titulo{
	text-align: center;
	background-color: rgba(255,0,0,0.4) !important;
}

.carrito-tabla{
	border: 2px solid black;
}

.producto-titulo{
	font-size: 23px;
}

.añadir-deseos{
	font-size: 13px;
}

.celda-precio{
	margin-top: 65px;
}

.celda-cantidad{
	margin-top: 50px;
}

.celda-agregar{
	margin-top: 10px;
}

#fin{
	margin-left: 30px;
}

#seguir{
	margin-left: 40px;
	margin-top: 20px;
}

.but_cuadro{
	border: 1px solid black;
}

.eliminar{
	margin-top: 100%;
	background-color: rgb(234, 132, 132);
	border: 1px solid black;
}

.brand-product-class{
	color: gray;
	font-style: italic;
	font-size: 20px;

}
