@CHARSET "ISO-8859-1";


.datepicker.dropdown-menu{
	max-height: 300px;
	max-width: 300px;
}

.editbut{
	margin: 10px;
}
.userinfos{
	background-color: white;
	padding: 20px;
	border: solid white;
	border-radius: 7px;
	margin-left: 5em;
	padding-right: 50px;
	padding-bottom: 0px;
}

.user-info-personal{
	border-right: 1px solid black;

}
.cont-center{
	text-align: right;
}

.cont-right{
	text-align: right;
}
.cont-left{
	text-align: right;
}

.edit-title{
	font-size: 15px;

}

.edit-input{
	margin-top: 10px;
}

#data_date{
	padding-top: 10px;
	border: 1px solid black;
}

