.label_header{
	font-size: 20px;
}

.label_mid{
	color: black;
	font-size: 15px;
	margin-right: 10px;
	margin-left:10px;
}

.radio_input{
	margin-right: 20px;
	padding-right: 10px;
}

.nueva_dir{
	margin-left: 0px;
	padding-left: 0px;
}

.opcion_agregar{
	color: black;
	font-size: 12px;
	text-align: center;
}

#segunda_seccion{
	border-right-style:solid;
	border-right-width: 1px;
	border-right-color: black;
	border-left-style:solid;
	border-left-width: 1px;
	border-left-color: black;

	padding-left: 50px; 
	padding-right: 25px;
	margin-right: 25px;
}

.botones{
	margin-bottom: 40px;
}

.but{
	/*border-style: solid;
	border-color: black;
	border-width: 1px;*/
	font-size: 20px;
	width: auto;
}

.combobox{
	margin-top: 0;
	display: block;
	margin-bottom: 10px;
	width: 75%;

}

#agregarDireccion{
	margin-top: 35px;
	margin-left: 20px;
}

#agregarTarjeta{
	margin-top: 10px;
	margin-left: 20px;
}