.label_ini{
	font-size: 20px;
}

.button_ini{
	margin-left: 320px;
	font-size: 20px;
}

.button_reg{
	margin-left: 130px;
	font-size: 20px;
}

.cuadro_princ{
	border-style: solid;
	border-color: black;
	border-width: 2px;
}