/*
  ========================================
  Pedidos
  ========================================
*/

.lista-pedidos {
	text-align: center;
	background-color: rgb(230, 230, 230);
	border: 2px solid rgb(150, 150, 150);
	padding-bottom: 2px;
	margin: 5px 10px;
	margin-bottom: 50px;
	margin-top: 30px;
}

.lista-pedidos-box {
	border: 1px solid black;
}

.pedidos-formato {
	/*background-color: #99FFFF;*/
	background-color: rgba(153,255,255,0.6);
	margin: 2px 2px;
	font-weight: bold;
	font-size: 18px;
	border: 3px solid rgb(50, 50, 50);
}

.pedidos-resumen-box {
	background-color: rgba(0,255,0,0.3);
	margin: 2px 2px;
	font-weight: bold;
	font-size: 18px;
	border: 3px solid rgb(50, 50, 50);
}

.pedidos-entry {
	/*background-color: rgb(180, 180, 180);*/
	border-bottom: 1px solid rgb(0, 0, 0);
	margin: 8px 4px;
	margin-bottom: 2px;
	font-size: 18px;
}

.pedidos-last-entry {
	border-bottom: 0;
}

.lista_pedidos_h1 {
	margin-left: 10px;
	margin-bottom: 15px;
	font-size: 36px;
}