.thumbnail{
	border-style: solid;
	border-color: black;
}

.sector_producto{
	background-color: white;
	padding-bottom: 10px;
}

.producto{
	margin-left: 20px;
	margin-bottom: 0;
	padding-bottom: 0;

}

.ref_producto{

	color: gray;
	margin-top: 0;
	padding-top:0;
}

.desc_producto{

	text-align: justify;
}

.label_prod_recom{
	font-size: 20px;
	margin-left: 100px;
	margin-bottom: 100px;
	
}

#price{
	color: #FF9900;
	text-align: left !important;
}

.price_tag{
	margin-left: 20px;
	padding-left: 0;
	font-size: 20px !important;
	text-align: left !important;
}

#description{
	font-size: 15px;
}

.bold{
	font-weight: bold;
	font-size: 17px;
}

.recom{
	background-color: white;

}

.label_ofertas{
	font-size: 20px;
	margin-left: 100px;
	margin-bottom: 100px;	
}

.producto_recomendados{
	margin-bottom: 40px;
	margin-top: 20px;
	background-color: white;
	position: relative;
	
}

.sector_medio{
	background-color: white;
}

.comentario_usuario{
	font-size: 20px;
	color: black;

}

.comentario{
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
}



.parrafo_comentario{
	margin-left: 110px;
}


.foto_oferta{
	height: 150px;
	width: 150px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.oferta_fotos{
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 30px;

}

.color{
	margin-right: 5px !important;
	padding-left: 5px;
	font-size: 14px;
}


.talle_color{
	font-size: 15px;
	margin-bottom: 10px;
}

.input-cant{
	width: 50px;
	height: 40px;
}

.input_prod{
	margin-right: 5px;
}


#agregar_carrito{
	text-align: canter;
	width: 200px !important;
	height: 40px !important;
	font-size: 20px;
	margin-top: 10px;
}

