
.registro-input{
	margin: auto;
	width: 65%;
}

.registro-input-ch{
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.formbtn {
	margin-left: 4%;	
	margin-right: 4%;	
}
#searchform{
	margin-bot: 0;
	border: 0;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 35px;
	padding-top: 20px;
}
#registro-form{
	width: 80%;
	border-style: solid;
    border-width: 2px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#first-section{
	border-right: 1px solid black;
}

#change-pass{
	width: 30%;
	border-style: solid;
    border-width: 2px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#card{
	border-style: solid;
    border-width: 2px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#registro-boton{
	margin-left: 30px;
	margin-right: 30px;
	width: 30%;
}

.label_form{
	color: black;
	font-size: 15px;
	margin-left: 78px;
}

.gen{
	margin-right: 10px !important;
	margin-left: 10px !important;
}

.primera_seccion{
	border-right-style: solid;
	border-right-width: 1px;
}

.info-title-ch{
	width: 70%;
	margin-bottom: 15px;
	font-size: 12px;
}

.info-user{
	margin-left: 10%;
	font-size: 17px;

}

.info-edit{
	display: block;
	text-align: right;
	margin-right: 70px;
}

.info-title{
	display: block;
	font-size: 15px;
	width: 70%;
	margin-left: 10%;
}

.listas{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	padding-bottom: 50px;
	margin-top: 20px;
}


.listbox{
	width: 80%;
	margin-left:40px; 
	margin-bottom: 20px;
	margin-top: 20px;
}

.ultimos-botones{

	margin-left: 200px;
	margin-top:20px;
}

.ultimos-botones-ch{

	margin-left: 100px;
	margin-top:20px;
}

.cancelar_guardar{
	width:auto;
	margin-bottom: 10px;
}

.cancelar_guardar_t{
	width:auto;
	margin-bottom: 10px;
	display: inline;
}

.but-canc-conf{
	margin-left: 40%;
}
